In [104]:
#import libraries
! pip install Kaggle
import kaggle
# download dataset from kaggle api
! kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Requirement already satisfied: Kaggle in c:\users\ganga\anaconda3\lib\site-packages (1.6.17)
Requirement already satisfied: six>=1.10 in c:\users\ganga\anaconda3\lib\site-packages (from Kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\ganga\anaconda3\lib\site-packages (from Kaggle) (2024.8.30)
Requirement already satisfied: python-dateutil in c:\users\ganga\anaconda3\lib\site-packages (from Kaggle) (2.9.0.post0)
Requirement already satisfied: requests in c:\users\ganga\anaconda3\lib\site-packages (from Kaggle) (2.32.2)
Requirement already satisfied: tqdm in c:\users\ganga\anaconda3\lib\site-packages (from Kaggle) (4.66.4)
Requirement already satisfied: python-slugify in c:\users\ganga\anaconda3\lib\site-packages (from Kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\ganga\anaconda3\lib\site-packages (from Kaggle) (2.2.2)
Requirement already satisfied: bleach in c:\users\ganga\anaconda3\lib\site-packages (from Kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\ganga\anaconda3\lib\site-packages (from bleach->Kaggle) (23.2)
Requirement already satisfied: webencodings in c:\users\ganga\anaconda3\lib\site-packages (from bleach->Kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\ganga\anaconda3\lib\site-packages (from python-slugify->Kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\ganga\anaconda3\lib\site-packages (from requests->Kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ganga\anaconda3\lib\site-packages (from requests->Kaggle) (3.7)
Requirement already satisfied: colorama in c:\users\ganga\anaconda3\lib\site-packages (from tqdm->Kaggle) (0.4.6)
Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [126]:
#extract the file from zip file
import zipfile
zip_ref = zipfile.ZipFile('orders.csv.zip')
zip_ref.extractall() #extract file to the same directory
zip_ref.close() #close file

In [130]:
df

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [123]:
# read the data from the file and handle null values(replace Not available and unknown to null value in ship mode column)
import pandas as pd
df = pd.read_csv('orders.csv', na_values=['Not Available', 'unknown'])
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [131]:
# rename column names according to standards(lower case and replace space with underscore)
#df.rename(columns={'Order Id':'order_id', 'City':'city'})
df.columns= df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [140]:
#derive new columns discount, sale price and profit
#df['discount'] = df['list_price']*df['discount_percent']*0.01
#df['sale_prize'] = df['list_price']-df['discount']
df['profit'] = df['sale_prize'] - df['cost_price']

In [144]:
df = df.rename(columns={'sale_prize':'sale_price'})

In [146]:
#convert order date from object data type to datetime
df['order_date'] = pd.to_datetime(df['order_date'],format="%Y-%m-%d")

In [158]:
#drop cost price, list price and discount percent columns
df.drop(columns=['list_price','cost_price','discount_percent'],inplace=True)

KeyError: "['list_price', 'cost_price', 'discount_percent'] not found in axis"

In [161]:
#load the data into sql server using replace option
#import pandas as pd
import sqlalchemy as sal
engine = sal.create_engine('mssql://MATTI-PC\\SQLEXPRESS/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
conn = engine.connect()

In [165]:
#load the data into sql server using append option
df.to_sql('df_orders', con=conn, index= False, if_exists = 'append')

38